<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Grasshopper" publicKeyToken="dda4f5ec2cd80803" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.12.24282.7001" newVersion="8.12.24282.7001" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>